html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn {
    background-color: white; /* White background */
    color: black; /* Black text */
    border: 1px solid black; /* Thin black outline */
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
    margin-bottom: 0px;
}
